body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  user-select: none;
  background: rgb(42, 49, 53);
}

input, select {
  font: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  border-radius: 5px;
}

input:disabled, select:disabled, .disabled {
  color: rgb(124, 127, 129);
  text-decoration: line-through;
}

input[type=submit].link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline;
  font: inherit;
  padding: 0;
  text-decoration: underline;
}
