@charset "utf-8";
/* Colours */
$text: rgb(255, 255, 255);
$notes: rgb(158, 161, 162);
$disabled: rgb(124, 127, 129);
$close: rgb(92, 96, 98);
$borders: rgb(66, 72, 75);
$close-background: rgb(53, 60, 63);
$background: rgb(42, 49, 53);
$selected: rgba(54, 102, 119, 0.9);

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: normal;
  color: $text;
  background: $background;
}

.page {
  min-height: calc(100vh - 146px);
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 24px 60px;
  margin-top: 72px;
  margin-bottom: 24px;
  text-size-adjust: none;
  background: $background;
  border-radius: 6px;
}

h1 {
  margin: 0 0 10px;
}

.notes {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 4px;
  color: $notes;
  white-space: pre-wrap;
  font-size: 15px;
  line-height: 24px;
}

ul {
  list-style: none;
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='rgb(255, 255, 255)'><circle cx='12.5' cy='12.5' r='3.5'></circle></svg>");
  padding-left: 24px;
  margin: 0;
}

ul.disabled {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='rgb(124, 127, 129)'><circle cx='12.5' cy='12.5' r='3.5'></circle></svg>");
}

li {
  padding-top: 4px;
}

form {
  margin: 0;
}

input,
select {
  font: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: $borders;
  border-image: initial;
  border-radius: 5px;
}

.disabled,
input:disabled,
select:disabled {
  color: $disabled;
  text-decoration: line-through;
}

a,
input[type=submit].link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline;
  font: inherit;
  padding: 0;
  text-decoration: underline;
}

a:hover,
input[type=submit].link:hover {
  color: $notes;
}

::-moz-selection {
  /* Code for Firefox */
  background: $selected;
}

::selection {
  background: $selected;
}

#modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-box-pack: center;
  z-index: 2;
}

.modal-darken {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  opacity: 0.2;
  background: rgb(0, 0, 0);
  transition: opacity 300ms ease 0s;
}

#warning-modal {
  position: relative;
  margin-top: 10vh;
  max-height: calc(100% - 20vh);
  width: calc((100% - 36px) - 36px);
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 576px;
  color: $text;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 20px;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 36px;
  overflow: auto;
  background: $background;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: $close;
  // border-image: initial;
  transition: transform 300ms ease 0s, opacity 300ms ease 0s;
}

.modal-close {
  color: $close;
  // font-size: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  position: absolute;
  top: 36px;
  right: 36px;
  border-radius: 10px;
}

.modal-close:hover > .modal-close-hover {
  display: inherit;
}

.modal-close-hover {
  display: none;
  background: $close-background;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px;
  border-radius: 18px;
  z-index: 1;
}

.modal-close > svg {
  z-index: 2;
}

.modal-button {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  box-sizing: border-box;
  // line-height: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 0px;
  color: $text;
  // font-family: inherit;
  // font-weight: 500;
  // font-size: 12px;
  text-align: center;
  // cursor: default;
  -webkit-tap-highlight-color: transparent;
  margin-right: 6px;
  margin-bottom: 6px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  border-radius: 12px;
  background: $borders;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.signed {
  text-align: right;
}
